[project]
	description = Light up your jacket wusing sewable arduino microcontroller and LEDs.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/rpattath
[access "refs/for/refs/*"]
	read = group user/rpattath
	push = group user/rpattath
	label-Code-Review = -2..+2 group user/rpattath
	label-Verified = -1..+1 group user/rpattath
	rebase = group user/rpattath
	removeReviewer = group user/rpattath
	submit = group user/rpattath
[access "refs/heads/*"]
	read = group user/rpattath
	create = group user/rpattath
	push = +force group user/rpattath
	pushMerge = group user/rpattath
[access "refs/tags/*"]
	push = group user/rpattath
	push = +force group user/rpattath
